.card{
    padding:20px 20px;
    margin:20px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 20px black;
}
.body{
    background-image: url('src/assets/images/back2.jpg');
    background-size: cover;
    height: 650px;
    font-size: 15px;
    transition: background-size 10s;
}
.jumbotron{
    background-color: transparent;
}
.jumbotron h1{
    font-weight: 100;
    text-shadow: 0px 0px 10px black;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;
}
.social{
    text-align: center;
    transition: font-size 2s;
}
.fb{
    color: black;
    cursor: pointer;
    font-size:30px;
    transition: font-size 2s;
}
.google{
    color: black;
    cursor: pointer;
    font-size:30px;
    transition: font-size 2s;
}
.twitter{
    color: black;
    cursor: pointer;
    font-size:30px;
    transition: font-size 2s;
}
.social:hover .fb{
    color: #1a8cff;
    font-size: 35px;
}
.social:hover .google{
    color: #ff3300;
    font-size: 35px;
}
.social:hover .twitter{
    color: #1a8cff;
    font-size: 35px;
}