<html>
<head>
    <title>The </title>
</head>
<body>
  <div class="container">
  <div class="jumbotron text-center" style="margin-bottom:0">
   
  </div>
  <div class="row">
    <div class="col-md-6s">
      <div class="card">
        <label>  <h3>Reset Form</h3></label>
        <hr>
        
        <form (submit)="reset_password($event)" autocomplete="off">
          <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Enter New Password">
            <input type="hidden" class="form-control" id="resetToken"  value="{{form.resetToken}}">
          </div>
          <div class="form-group">
            <input type="submit" value="Password Reset" class="btn btn-primary box">
          </div>
          <div class="form-group">
            <hr>
              <a routerLink="/" >Home Page</a> &nbsp;&nbsp;| &nbsp;&nbsp; 
              <a routerLink="/register" >Create User</a>&nbsp;&nbsp; | &nbsp;&nbsp; 
              <a routerLink="/forgot" >Forgot password</a> 
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>