<div class="container">
<!-- ******************* Retriving Creating Notes ****************** -->
<div class="d-flex flex-wrap"  colspan="3">

<div class="notes_cards"  [ngClass]="{'view':view === 'Grid'}"
 *ngFor ="let note_value of total_notes | trash"  [style.background-color]="note_value.color"
 fxLayout="row" fxLayoutAlign="start start">
  
    <div class="card-body">
      <input type="hidden" id="note_id" >
      <h5> <b>{{note_value.title}} </b></h5>
      <p>{{note_value.Notes}}</p>
      <p><i class="fa fa-clock-o"></i> {{note_value.reminder}}</p>
    </div>
    <div class="options">
      <!-- More option in right side -->
      <div class="option_list dropdown">
      <i class="btn btn-secondary dropdown-toggle" class="fa fa-ellipsis-v"
        id="moreoption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu" aria-labelledby="moreoption">
            <a class="dropdown-item" (click)="delete_trash(note_value)">Delete Note</a>
            <a class="dropdown-item" (click)="restore_trash(note_value)">Restore</a>
          </div>
        </div>
    </div>
  </div>
 </div>
</div>