<div class="container">
  <div class="row">
    <div class="col-md-5 notes">
      <!-- ************* For creating notes ************************** -->
        <div (click)="showTakeNotes()" *ngIf="show">
          <div class="take_notes">
            take Note's
          </div>
        </div>
        <div *ngIf="!show">
          <div class="take_notes" [style.background-color]="take_color">
            <form (submit)="AddNotes($event)">
              <div class="form-group">
                <input type="text" id="title" [ngStyle]="{'background-color': take_color,'border': take_color}" class="form-control" placeholder="Enter title">
              </div>
              <div class="form-group">
                <input type="text" id="notes" [ngStyle]="{'background-color': take_color,'border': take_color}" class="form-control" placeholder="Enter Note's">
                <input type="hidden" id="color" value="{{ take_color }}">
              </div>
              <div class="form-group" *ngIf="!takeshowInputReminmder">
                <input type="date" id="reminder" class="reminder" value="{{ takeremind }}">
              </div>
              <div class="form-group" *ngIf="takeshowInputReminmder">
                <input type="hidden" id="reminder" class="reminder" value="">
              </div>
              <div class="form-group">
                <div class="option_box">.
                <div class="option">
                      <!-- For reminder -->
                      <div class="option_list dropdown">
                        <i class="far fa-bell" data-toggle="tooltip" title="reminder" id="reminder" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu option_containt" aria-labelledby="reminder">
                          <b>Reminder </b>
                          <div class="row">
                            <form (submit)="takereminder($event)">
                              <input type="hidden" id="note_id" placeholder="select date" value="{{ note_value.note_id }}" >
                              <input type="date" id="rdate" placeholder="select date" value="{{ note_value.reminder }}" >
                              <select>
                                  <option>Morning  08:00 AM</option>
                                  <option>Afternoon 01:00 PM</option>
                                  <option>Evening 06:00 PM</option>
                                  <option>Night 08:00 PM</option>
                                </select>
                              <input type="submit" value="Save">
                            </form>
                          </div>
                        </div>
                      </div>
                      
                      <div class="option_list">
                        <i class="fa fa-group" data-toggle="tooltip" title="Social Share" 
                        ></i>
                        </div>
                       <!-- For color -->
                      <div class="option_list dropdown">
                          <i class="fas fa-palette" data-toggle="tooltip" title="Set color"  id="color_set" 
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu color_set" aria-labelledby="color_set">
                          <div *ngFor ="let c of color_set">
                            <div class="color_box" [style.background-color]="c.color" 
                              (click)="take_color(c.color)">
                            </div>
                          </div>
                        </div>
                      </div> 
                      <div class="option_list">
                        <input type="submit" class="form-control" value="Close" class="btn box">
                      </div>
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
<!-- ******************* Retriving Creating Notes ******************  -->
  <div class="notes_container"  colspan="3" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)" [ngClass]="{'view':view === 'Grid','view_list':view === 'List'}" [style.height]="height">
    <div *ngFor ="let note_value of data"  class="notes_cards" [style.background-color]="note_value.color" 
    cdkDragBoundary=".notes_container"  cdkDrag>
    <!-- <div  class="card-body custom-placeholder" *cdkDragPlaceholder></div> -->
    <div >
        <div class="check">
          <i class="fa fa-check-square" style="background-color:white;"></i>
        </div>
      <div class="card-body" style="width: 100%;text-align: justify;word-wrap: break-word;" data-toggle="modal" data-target="#myModal1" (click)="modelBox(note_value)"  >
        <input type="hidden" id="note_id">
        <!-- <div class="notes_title"> -->
          <h5> <b>{{note_value.title}}  </b></h5>
        <!-- </div> -->
        <div style="width: 100%; word-wrap:wrap;height: 100%;text-align: justify">
        <p >{{note_value.Notes}}</p>
      </div>
      </div>
      <div style="display:flex;flex-wrap: wrap;padding:10px;overflow: hidden">
        <div class="lebel_tag">
            <i class="fa fa-clock-o"></i> {{ note_value.reminder | date:'MMM dd, h:mm a'}}
        <!-- <div *ngIf="note_value.reminder | date :'MMM d, y, h:mm a'"> 
            <i class="fa fa-clock-o"></i> {{ note_value.reminder | date :'MMM d, y, h:mm a'}}
        </div> -->
        </div>
        <div class="lebel_tag" *ngFor="let lebels of lebel_data | lebel: note_value.note_id">
          {{ lebels.lebel }} <b (click)="remove_label(lebels.id)"> &times;</b>
        </div>
      </div>
      <div class="option_box">.
        <div class="options">
          <!-- For reminder -->
          <div class="option_list dropdown">
            <i class="far fa-bell" style="font-size: 18px" data-toggle="tooltip" title="reminder" id="reminder" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu option_containt" aria-labelledby="reminder">
              <b>Reminder</b>
              <div class="row">
                <form (submit)="update_reminder($event)">
                  <input type="hidden" id="note_id" placeholder="select date" value="{{ note_value.note_id }}" >
                  <input id="rdate" placeholder="select date" value="{{ model_reminder }}"  [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                  <owl-date-time #dt></owl-date-time>
                  <input type="submit" value="Save">
                </form>
              </div>
            </div>
          </div>
          <!-- For colaborator -->
          <div class="option_list dropdown">
            <i class="fa fa-group" style="font-size: 18px" data-toggle="tooltip" title="Social Share"  id="social" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu color_set" style="width: 200px;" aria-labelledby="social">
                <div class="color_box" style="background-color:#3B5998; width: 100%;color: white;padding: 3px 8px;cursor: pointer;">
                    <a href="http://www.facebook.com/sharer.php?u=www.example.com&quote={{model_title}}-{{model_Note}}" style="color:white" target="_blank">
                      <i class='fab fa-facebook' ></i> Share onFacebook
                    </a>
                  </div>
                <div class="color_box" style="background-color:red; width: 100%;color: white;padding: 3px 8px;cursor: pointer;">
                      <a href="https://plus.google.com/share?url=www.example.com&quote={{model_title}}-{{model_Note}}" style="color:white" target="_blank">
                        <i class='fab fa-google'></i> Share on Google+
                      </a>
                </div>
                <div class="color_box" style="background-color:#3B5998; width: 100%;color: white;padding: 3px 8px;cursor: pointer;">
                    <a href="http://twitter.com/share?url=http://example.com&text={{model_title}}-{{model_Note}}" style="color:white" target="_blank">
                      <i class='fab fa-twitter-square'></i> Share on Twitter
                    </a>
                </div>
            </div>
          </div>
          <!-- For color -->
          <div class="option_list dropdown">
            <i class="fas fa-palette" style="font-size: 18px" data-toggle="tooltip" title="Set color"  id="color_set" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu color_set" aria-labelledby="color_set">
              <div *ngFor ="let c of color_set">
                <div class="color_box" [style.background-color]="c.color" 
                  (click)="change_color(c.color,note_value.note_id)">
                </div>
              </div>
            </div>
          </div>  
          <!-- For Archive -->
          <div class="option_list">
            <i class="fa fa-caret-square-o-up" style="font-size: 18px" (click)="archive(note_value)" data-toggle="tooltip" title="Archive"></i>
          </div>
          <!-- More option in right side -->
            <div class="option_list dropdown" data-toggle="tooltip" title="more">
              <i class="btn btn-secondary dropdown-toggle" style="font-size: 18px" class="fa fa-ellipsis-v"
              id="moreoption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu" aria-labelledby="moreoption">
                <a class="dropdown-item" (click)="trash(note_value)">Delete Note</a>
                <a class="dropdown-item dropdown" id="submenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add Lebel
                  <ul class="dropdown-menu" aria-labelledby="submenu">
                    <div *ngFor="let lebel_value of lebel" style="padding:10px 10px;color: black">
                      <input type="checkbox" (click)="attach_label(lebel_value.lebel_id,note_value.note_id)"> {{ lebel_value.lebel }}
                    </div>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- <div class="row">
    <div class="col">
      <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let note of a" cdkDrag>{{note.title}}</div>
    </div>
    </div>
    <div class="col">
      <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let note of b" cdkDrag>{{note.title}}</div>
    </div>
    </div>
    <div class="col">
        Sharlawar
    </div>
  </div> -->


    <!-- The Modal -->
    <div class="modal fade" id="myModal1">
      <div class="modal-dialog">
        <div class="modal-content" [ngStyle]="{'background-color': model_color}">
            <form (submit)="UpdateNotes($event)">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <input type="text" id="title" value="{{model_title }}" [ngStyle]="{'background-color': model_color,'border': model_color}">
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <input type="hidden" id="Notes_id" value="{{model_id }}">
                  <textarea id="Notes" class="text-body"[ngStyle]="{'background-color': model_color,'border': model_color}">{{ model_Note }}</textarea>
                  <i class="fa fa-clock-o"></i><input type="text" id="reminder" [ngStyle]="{'background-color': model_color,'border': model_color}" class="text-body" (click)="setRemider()" value="{{ model_reminder | date :'MMM d, y, h:mm a' }}" 
                  >
                </div>
                <div class="modal-footer" style="box-shadow:0px 0px 15px black;background-color: white;">
                    <!-- For reminder -->
                    <div class="option_list">
                        <i class="far fa-bell" data-toggle="tooltip" title="reminder"
                          id="reminder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    </div>
                    <!-- For colaborator -->
                    <div class="option_list dropdown">
                        <i class="fa fa-group" data-toggle="tooltip" title="Social Share"  id="social" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu color_set" style="width: 200px;" aria-labelledby="social">
                            <div class="color_box" style="background-color:#3B5998; width: 100%;color: white;padding: 3px 8px;cursor: pointer;">
                                <a href="http://www.facebook.com/sharer.php?u=www.example.com&quote={{model_title}}-{{model_Note}}" target="_blank">
                                  <i class='fab fa-facebook' ></i> Share onFacebook
                                </a>
                              </div>
                            <div class="color_box" style="background-color:red; width: 100%;color: white;padding: 3px 8px;cursor: pointer;">
                                  <a href="https://plus.google.com/share?url=www.example.com&quote={{model_title}}-{{model_Note}}" target="_blank">
                                    <i class='fab fa-google'></i> Share on Google+
                                  </a>
                            </div>
                            <div class="color_box" style="background-color:#3B5998; width: 100%;color: white;padding: 3px 8px;cursor: pointer;">
                                <a href="http://twitter.com/share?url=http://example.com&text={{model_title}}-{{model_Note}}" target="_blank">
                                  <i class='fab fa-twitter-square'></i> Share on Twitter
                                </a>
                            </div>
                        </div>
                      </div>
                    <!-- For color -->
                    <div class="option_list dropdown">
                        <i class="fas fa-palette" data-toggle="tooltip" title="Set color"
                          id="color_set" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu color_set" aria-labelledby="color_set">
                                <div *ngFor ="let c of color_set">
                                  <div class="color_box" [style.background-color]="c.color" 
                                  (click)="change_color_model(c.color,model_id)"></div>
                                </div>
                            </div>
                        </div> 
                    <!-- For Archive -->
                    <div class="option_list">
                        <i class="fa fa-caret-square-o-up" (click)="archive(note_value)" data-toggle="tooltip" title="Archive"></i>
                      </div>
                    <!-- For Archive -->
                    <!-- <input type="submit" class="btn" value="Close">  -->
                    <input type="submit" value="Save" id='closebutton' [ngStyle]="{'background-color': model_color,'border': model_color,'box-shadow':'0px 0px 10px black','border':'1px solid black'}" style="color:black">
                    <!-- <button type="button" id='closebutton'>Close</button> -->
                  </div>
            </form>
            
          </div>
          <div class="setRemider" *ngIf="!showSetReminmder">
            <h4>Reminder</h4>
            <div class="row">
              <form (submit)="Add_reminder($event)">
                &nbsp;&nbsp;<input type="date" id="rdate" placeholder="select date" value="{{ model_reminder }}" >
                <input type="submit" value="add">
              </form>
            </div>
          </div>
        </div>
      </div>
</div>