<!-- ******************* Retriving Creating Notes ****************** -->
        <div class="d-flex flex-wrap"  colspan="3"
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)" >
            
            <div class="notes_cards"  [ngStyle]="{'width':view === 'Grid' ? '30%' : '70%' }"
             *ngFor ="let note_value of data"  fxLayout="row" fxLayoutAlign="start start" 
            cdkDrag>
              
                <div class="card-body" data-toggle="modal" data-target="#myModal1" (click)="modelBox(note_value)">
                  <input type="hidden" id="note_id" >
                  <h5> <b>{{note_value.title}} </b></h5>
                  <p>{{note_value.Notes}}</p>
                  <p><i class="fa fa-clock-o"></i> {{note_value.reminder}}</p>
                </div>
                <div class="options">
                       <!-- For reminder -->
                  <i class="fa fa-bell-o" (click)="setRemider()" data-toggle="tooltip" title="Set Reminder"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For colaborator -->
                  
                  <i class="fa fa-group" data-toggle="tooltip" title="colaborator"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For color -->
                  <i class="fa fa-dashboard " data-toggle="tooltip" title="Set color"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For image -->
                  <i class="fa fa-image" data-toggle="tooltip" title="Archive"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For Archive -->
                  <i class="fa fa-trash-o" (click)="trash(note_value)" data-toggle="tooltip" title="Trash"></i> &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-ellipsis-v"></i>
                       <i class="fa fa-ellipsis-v"></i>
                </div>
              </div>
             </div>
        

               <!-- The Modal -->
<div class="modal" id="myModal1" *ngIf="!model_box">
    
    <div class="modal-dialog">
      <div class="modal-content">
          <form (submit)="UpdateNotes($event)">
              <div class="modal-header">
                  <h4 class="modal-title">
                      <input type="text" id="title" value="{{model_title }}">
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <input type="hidden" id="Notes_id" value="{{model_id }}">
                <textarea id="Notes" class="text-body">{{ model_Note }}</textarea>
                <input type="text" id="reminder" class="text-body" (click)="setRemider()" value="{{ model_reminder }}" 
                >
              </div>
              <div class="modal-footer">
                  <!-- For reminder -->
                  <i class="fa fa-bell-o" (click)="setRemider()" data-toggle="tooltip" title="Set Reminder"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For colaborator -->
                  <i class="fa fa-group" data-toggle="tooltip" title="colaborator"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For color -->
                  <i class="fa fa-dashboard " data-toggle="tooltip" title="Set color"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For image -->
                  <i class="fa fa-image" data-toggle="tooltip" title="Archive"></i> &nbsp;&nbsp;&nbsp;
                  <!-- For Archive -->
                  <i class="fa fa-trash-o" (click)="trash()" data-toggle="tooltip" title="Trash"></i> &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-ellipsis-v"></i>
                  <!-- <input type="submit" class="btn" value="Close">  -->
                  <input type="submit" value="close" id='closebutton'>
                  <!-- <button type="button" id='closebutton'>Close</button> -->
                </div>
          </form>
          
        </div>
        <div class="setRemider" *ngIf="!showSetReminmder">
          <h4>Reminder</h4>
          <div class="row">
            <form (submit)="Add_reminder($event)">
              &nbsp;&nbsp;<input type="date" id="rdate" placeholder="select date" value="{{ model_reminder }}" >
              <input type="submit" value="add">
            </form>
          </div>
        </div>
      </div>
    </div>
    
    