  <nav class="navbar navbar-expand-lg bg-light navbar-light" >
  <!-- menu button for the sidebar -->
  <button class="btn" type="button" data-toggle="collapse" data-target="#left_sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- image of website -->  
  <img src="https://www.google.com/images/icons/product/keep-512.png" width="50" height="50" class="d-inline-block align-top" alt="">
  <a class="navbar-brand">Fundoo Note's</a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- search bar -->

  <input class="form-control search" [(ngModel)]="searchText" id="Search" type="text" placeholder="Search.." (click)="showSearch()">
  <!-- Refresh -->
  <div class="dropdown" data-toggle="tooltip" title="refresh" (click)="refresh()">
      <i class="fa fa-refresh" style="font-size:24px"></i>
  </div>

  <!-- Grid view -->
  <div href="#" class="dropdown" *ngIf="notes_view" data-toggle="tooltip" title="Grid View" (click)="Note_view_grid()">
    <i class="fa fa-qrcode" style="font-size:24px"></i>
  </div>
   <!-- list view -->
   <div href="#" class="dropdown" *ngIf="!notes_view" data-toggle="tooltip" title="List View" (click)="Note_view_list()">
    <i class="fa fa-bars" style="font-size:24px"></i>
  </div>

  <!-- drop down menu for user -->
  <div class="dropdown" data-toggle="tooltip" title="Setting">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-cog" style="font-size:24px"></i>
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="menu-item"><a>Setting</a></li>
      <li class="menu-item"><a>Enble Dark Theme</a></li>
      <li class="menu-item"><a>Help</a></li>
    </ul>
  </div>

  <!-- drop down menu for user -->
  <div class="dropdown dropdown-right" data-toggle="tooltip" title="Profile" *ngFor ="let u of user_data;">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src="../../assets/images/profile.png" class="img-circle" *ngIf="!u.photo">
        <img src="{{ u.photo }}" class="img-circle" *ngIf="u.photo">    
    </a>
    <ul class="dropdown-menu profile">
      <div class="row">
        <div class="col-4" data-toggle="modal" data-target="#changephoto">
          <div class="img-circle-profile" *ngIf="!u.photo">
            <img src="../../assets/images/profile.png" 
             width="80px" height="80px" data-toggle="tooltip" title="Profile Image"> 
            <div class="change_photo">Change</div>
          </div>
          <div class="img-circle-profile" *ngIf="u.photo">
            <img src="{{ u.photo }}" width="80px" height="80px" data-toggle="tooltip" title="Profile Image"> 
            <span>Change</span>
          </div>
        </div>
        <div class="col-8" data-toggle="tooltip" title="Account Information">
          <b> {{u.firstname}} {{u.lastname}}</b><br>
          {{u.email}}<br><br>
          <p>Privecy</p>
          <!-- <button class="btn btn-primary">
                Google Account
          </button> -->
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <li class="menu-item-profile" data-toggle="tooltip" title="Add Account">
            <a>Add Account</a>
          </li>
        </div>
        <div class="col-6">
          <li class="menu-item-profile" (click)="logout()" data-toggle="tooltip" title="Logout"><a>Logout</a></li>
        </div>
      </div>
    </ul>
  </div>
  </div>
</nav>

<!-- ********* left Sidebar ***************************-->
<div class="sidebar sidebar-left" id="left_sidebar">
    <ul class="list-group">
        <li class="list-group-item list" (click)="showNotes()"
        [ngStyle]="{'background-color':classActive === 'notes' ? 'bisque' : 'white' }">
            <i class="fa fa-lightbulb-o"></i> &nbsp;&nbsp;&nbsp;Notes
        </li>
        <li class="list-group-item list" (click)="showReminder()"
        [ngStyle]="{'background-color':classActive === 'reminder' ? 'bisque' : 'white' }" >
            <i class="far fa-bell"></i> &nbsp;&nbsp;&nbsp;Reminders
        </li>
        <li class="list-group-item"><Label>Label</Label></li>
        <div *ngFor="let lebels of lebel">
            <li class="list-group-item"><i class="fa fa-tags"></i>  {{ lebels.lebel }}</li>
        </div>
        <li class="list-group-item list" data-toggle="modal" data-target="#lebel">
            <i class="far fa-edit"></i> &nbsp;&nbsp;&nbsp;Edit label's  
        </li>
        <li class="list-group-item list" (click)="showArchive()"
        [ngStyle]="{'background-color':classActive === 'archive' ? 'bisque' : 'white' }">
            <i class="fas fa-archive"></i> &nbsp;&nbsp;&nbsp;Archive
        </li>
        <li class="list-group-item list" (click)="showTrash()"
        [ngStyle]="{'background-color':classActive === 'trash' ? 'bisque' : 'white' }">
            <i class="far fa-edit"></i> &nbsp;&nbsp;&nbsp;Trash
        </li>
      </ul>
</div>
<!-- ******************* Retriving Creating Notes ****************** -->
<div *ngIf="search" >
        <router-outlet ></router-outlet>
</div>
<!-- ******************* Search Notes ****************** -->

<div *ngIf="!search" > 
     <h3 style="text-align: center">Search Note's</h3>

    <div class="container">
        <!-- ******************* Retriving Creating Notes ****************** -->
        <div class="d-flex flex-wrap"  colspan="3">
        
        <div class="notes_cards" 
         *ngFor ="let note_value of data | search:searchText "  [style.background-color]="note_value.color"
         fxLayout="row" fxLayoutAlign="start start">
          
            <div class="card-body">
              <input type="hidden" id="note_id" >
              <h5> <b>{{note_value.title}} </b></h5>
              <p>{{note_value.Notes}}</p>
              <p><i class="far fa-clock-o"></i> {{note_value.reminder}}</p>
            </div>
          </div> 
         </div>
        </div>
</div>

<!-- ***************************************************************-->

<!---  model for lebel   -->

<div class="modal" id="lebel">
    
    <div class="modal-dialog">
      <div class="modal-content">
        
          <div class="modal-header">
            <div class="row">
              <div class="col-1">
                  <i class="fa fa-plus"></i>
              </div>
              <div class="col-10">
                <form (submit)="addlebel($event)">
                  <input type="text" placeholder="Enter lebel" id="lebel">
                  <input type="submit" value="Save">
                </form>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        <div class="modal-content">
            <div class="lebel" *ngFor="let lebels of lebel">
              <div class="row">
                <div class="col-1 lebel_delete" >
                    <i class="fa fa-tags lebel_tag" (click)="deletelebel(lebels.lebel_id)"></i>
                    <i class="fa fa-trash lebel_trash" (click)="deletelebel(lebels.lebel_id)"></i>
                </div>
                <div class="col-10 lebel_input">
                  <div class="lebel_box">
                      <div class="lebel_box_show">
                        <div class="lebel_containt">{{ lebels.lebel }}<i class="far fa-edit lebel_edit"></i></div>
                      </div>
                      <div class="lebel_box_edit">
                        <form (submit)="update_lebel($event)">
                          <input type="hidden" id="lebel_id" value="{{ lebels.lebel_id }}">
                          <input type="text" id="lebel" value="{{ lebels.lebel }}">
                          <button type="submit" class="lebel_submit"><i class="fa fa-check"></i></button>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
                
            </div>
        </div>
          <div class="modal-footer">
            <input type="submit" data-dismiss="modal" value="Done">
          </div>
        </div>
      </div>
    </div>


  <!--  change photo  -->

  <div class="modal" id="changephoto">
    
      <div class="modal-dialog">
        <div class="modal-content">
          <form (submit)="changephoto($event)">
            <div class="modal-header">  
              <h5>Select Profile Photo</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-header">
                <img [src]="imageSrc || '../../assets/images/profile.png'"
                 width="100px" height="100px">
              <input type="file" id="photo" (change)="readURL($event);">
            </div>
            <div class="modal-footer">
              <input type="submit" value="Change Photo">  
            </div>
          </form>
      </div>
  </div>