.card{

    padding:20px 20px;
    margin:20px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 1px black;
    width: 800px;
    display: flex;
    flex-direction: row;
}
.body{
    /* background-image: url('src/assets/images/back1.jpg'); */
    background-size: cover;
    color: gray;
    font-size: 15px;
}
.jumbotron{
    background-color: transparent;
}
.jumbotron h1{
    font-weight: 100;
    text-shadow: 0px 0px 10px black;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;

}
.form-name{
  width: 100%;  
  display: flex;    
}
.name{
  padding: 10px 5px; 
  width: 50%;
}
.box-right{
  width:50%;
  padding: 50px 20px;
  display: block;
}
.box-left{
  width:60%;
}
@media screen and (max-width: 900px) {
    
    .row{
      width: 100%;
    }
    .card{
      box-shadow: 0px 0px 0px white;
      padding:10px 15px;
      margin:-5px -5px;
      padding-top: 50px;
      width: 100%;
      display: block;
    }
    .box-right{
      width:50%;
      padding: 50px 20px;
      display: none;
    }
    .box-left{
      width:100%;
    }
    .form-name{
      width: 100%;  
      display: block;    
    }
    .name{
      padding: 10px 5px; 
      width: 100%;
    }
      }

      