.card{
    padding:20px 20px;
    margin:20px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 20px black;
}
.body{
    background-image: url('src/assets/images/back1.jpg');
    background-size: cover;
    height: 650px;
    color: gray;
    font-size: 15px;
}
.jumbotron{
    background-color: transparent;
}
.jumbotron h1{
    font-weight: 100;
    text-shadow: 0px 0px 10px black;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;

}
@media screen and (max-width: 900px) {
    .body{
      height: 1000px;
    }
    .row{
      width: 100%;
    }
    .card{
      padding:5px 5px;
      margin:5px 5px;
      padding-top: 50px;
      width: 100%;
      margin-left: -10px;
    }
      }